@model SearchLog.Models.ApplicationModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    @*<h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

    <div class="col-md-6">
        <div class="col-md-8">
            @Html.TextBox("Search", null, new { @class = "form-control js-search" })
        </div>
        <div class="col-md-4">
            <input type="button" value="Search" class="js-btn-directory" data-search-input=".js-search" data-action="@Url.Action("Results")" data-directory=".js-directory" data-partial-view-container="#partial-view-results"/>
        </div>
    </div>

    <div class="col-md-6">
        @Html.DropDownListFor(m => m.SelectedDirectory, Model.Directories, "Please Choose ...", new { @class = "js-directory", data_action = Url.Action("GetFilesForDirectory"), data_partial_view_container = "#partial-view" })
    </div>
<hr />
<div class="col-md-12" id="partial-view">
    @Html.Partial("_FilesView")
</div>
<div class="col-md-12" id="partial-view-results">
    @Html.Partial("_ResultsView", new List<SearchLog.Models.SearchModel>())
</div>

